[2020-03-20 18:05] ldtcooper opened #1 "Replace Cases Summary and Confirmed Cases dummy data with real data"
We have SFDPH data on confirmed COVID-19 cases here: [covid_19_sf.txt](https://github.com/sfbrigade/stop-covid19-sfbayarea/files/4361156/covid_19_sf.txt)

The file is in `.txt` format so it could be uploaded here, but it's a CSV file with data on confirmed cases in San Francisco from 3/10-3/20.

This is the specific section:
<img width="1172" alt="Screen Shot 2020-03-20 at 10 59 06 AM" src="https:

[2020-03-21 22:33] kengoy commented on #1
I will do this.

[2020-03-21 22:36] kengoy opened #3 "Update the "Latest Update" link to the current most important announcement link."
Related source code: components/WhatsNew.vue.

![Screen Shot 2020-03-21 at 3 34 01 PM](https://user-images.githubusercontent.com/61864097/77237973-c7807e80-6b89-11ea-9cbf-50bd5dcf2ac5.png)

[2020-03-21 22:38] kengoy opened #4 "Fix "CONTACT" link to the right page for SF."
related source code: pages/index.vue

![Screen Shot 2020-03-21 at 3 34 11 PM](https://user-images.githubusercontent.com/61864097/77237999-044c7580-6b8a-11ea-880c-94e96d12a002.png)

[2020-03-21 22:40] kengoy opened #5 "Update the important links in the side menu."
Related source code: components/SideNavigation.vue

![Screen Shot 2020-03-21 at 3 34 21 PM](https://user-images.githubusercontent.com/61864097/77238021-31008d00-6b8a-11ea-87ce-02488366ada5.png)

[2020-03-22 16:54] #1 closed

[2020-03-23 01:06] kengoy opened #6 "Keep up-to-date number in data.json until automatic fetch data via API will be developed."
Related source code: data/data.json.

Steps:
1. Git clone https://github.com/sfbrigade/data-covid19-sfbayarea/tree/corona-scraper on your local.
2. Follow the instruction of installation and run the scraper.py .
[code]
3. Copy the generated data.json to data/data.json
4. Confirm if it works on your local before commit.
5. Git commit & push

[2020-03-23 03:37] kengoy opened #9 "Create a FAQ page"
Related source code: components/SideNavigation.vue

Here is the FAQ list.
https://docs.google.com/spreadsheets/d/1_wBXS62S5oBQrwetGc8_-dFvDjEmNqzqHwUeP-DzkYs/edit#gid=0

[2020-03-23 03:51] kengoy opened #10 "Great to have Bart ride counts"
The public transit ride counts is unfortunately impossible for the public (and even SFMTA) to get access to in real-time because BART (oddly) controls access to that data and doesn't release it via API. When this is all over, I hope the city can step in and force all local public transit agencies to produce ridership data in near real-time (at least daily) via API.

https://www.bart.gov/about/repo

[2020-03-23 03:54] kengoy opened #11 "Great to have the number of people visiting a government office"
The number of people visiting a government office, might be easier to start collecting? The question is, which offices are open to the public and how hard would it be to count them? It seemed like data people might find interesting if it were available. Metrics like this are more of a barometer people can keep an eye on to see how the situation is progressing more than as a critical data point.

H

[2020-03-23 03:59] kengoy opened #12 "Create a component view for Santa Clara County cases"
Data is now available curated by @ldtcooper
https://github.com/sfbrigade/data-covid19-sfbayarea/blob/master/data/covid_19_santa_clara.csv

[2020-03-23 04:10] kengoy opened #13 "UI Design Update for more user-friendly experience"
Here is the design sample.

https://www.figma.com/file/iUS5LdAnuTKVei88QwPPCH/COVID-19-Tracker-by-Code-for-SF?node-id=0%3A1

[2020-03-23 05:16] kengoy opened #15 "Multi language support"
Support i18n for
- English
- Spanish
- Chinese

Any other language to be supported for San Francisco communities?

[2020-03-23 05:30] kengoy commented on #4
Deleted the link for now as there is no specific Contact Information.

[2020-03-23 05:30] #4 closed

[2020-03-23 14:40] ldtcooper commented on #6
Do we need an API in the data project to get this?

[2020-03-25 06:36] kengoy commented on #6
That would be great! I think many people who want to visualize the data for the local county/city are looking for API to be prepared.  For the stop-covid19-sfbayarea, I think I can fetch the csv file directly parse it directly.

[2020-03-28 20:06] kengoy opened #21 "Implement dynamic fetching data after API (or csv for bayarea) by #covid-data-fetch team is ready."
Until the API or CSV for bayarea is ready, we are updating manually by editing data/data.son.
Next step is to fetch data and build data.json dynamically.

Most likely the following Corona Data Scraper will be the master data source.
https://coronadatascraper.com/timeseries.csv
https://coronadatascraper.com/timeseries-byLocation.json

#covid-data-fetch @ldtcooper is working on preparing an API retu

[2020-03-29 20:17] thuongho commented on #12
I can work on this.

[2020-03-31 04:54] kengoy opened #25 "Support all 9 counties in the BayArea to show cases graph."
Related Issue:  #12

[2020-03-31 06:51] #12 closed

[2020-03-31 06:52] #25 closed

[2020-04-02 01:05] kengoy opened #30 "Visualize death cases in addition to confirm cases graph."
Now the graph is only for confirm cases. It will be good to have death cases as well to see the effect of place in orders, a trend to increase/decrease.

[2020-04-02 01:08] kengoy opened #31 "Visualize parking meter transaction data"
https://sfbrigade.slack.com/archives/CVBEUJFCN/p1584813844215700?thread_ts=1584809263.209100&cid=CVBEUJFCN

As a side note, we did just post parking meter transaction data: https://data.sfgov.org/Transportation/SFMTA-Parking-Meter-Detailed-Revenue-Transactions/imvp-dq3v

[2020-04-02 01:13] kengoy opened #32 "Great to have Muni ride counts"
Related to slack

https://sfbrigade.slack.com/archives/C7HUYBHAA/p1585247105015500

https://sfbrigade.slack.com/archives/C7HUYBHAA/p1553732281200000?thread_ts=1553732281.200000

https://www.sfmta.com/reports/percentage-muni-trips-service-gaps

[2020-04-04 19:44] frhino opened #36 "Add update time to update date"
As others have found, it isn't immediately clear the "as of" date and time.

Would be good to have both the date and time we updated the data as well as the usual time of day counties update their data.

I don't think there's a workaround for this.

**Suggestion example**
![image](https://user-images.githubusercontent.com/7381521/78459981-b7d16180-7682-11ea-997f-9b01d43ff16f.png)

[2020-04-04 19:47] frhino commented on #32
Will re-label this issue if the data becomes available!

[2020-04-04 20:21] frhino commented on #21
@ldtcooper can this be closed?

[2020-04-04 20:26] frhino commented on #13
Latest wireframes for integrateing FAQ with the original layout here: https://www.figma.com/file/iUS5LdAnuTKVei88QwPPCH/COVID-19-Tracker-by-Code-for-SF?node-id=602%3A128

[2020-04-04 20:29] frhino commented on #11
We probably won't get this data and I'm not sure if people in SF utilize government offices in the same way as in Japan, so maybe not as interesting as a datapoint here?

[2020-04-04 20:29] #11 closed

[2020-04-04 20:31] frhino commented on #10
They may be releasing data by flat file occasionally, but likely won't be making real time updates anytime soon.

[2020-04-04 20:32] frhino commented on #9
Closing this as duplicate of https://github.com/sfbrigade/stop-covid19-sfbayarea/issues/13

[2020-04-04 20:32] #9 closed

[2020-04-04 20:35] frhino commented on #6
@kengoy   What is the status here? Should we create an issue for automation?

[2020-04-04 20:38] frhino commented on #5
@kengoy Do you think we should have a repo for the FAQ work, or could we just assign issues either here or in the data fetch repo (I lean to data fetch)? We have a need for people to assign themselves to categories and regions, and the general info could use that same attention.

[2020-04-04 20:39] frhino commented on #3
@kengoy @ldtcooper Should this issue be moved to the data fetch repo?

[2020-04-06 06:15] kengoy opened #40 "Create FAQ page"
#covid-ux team has finished the UI design with FAQ contents. It's ready for us to develop!! Is somebody here interested in implementing this?

Figma:
https://www.figma.com/file/iUS5LdAnuTKVei88QwPPCH/COVID-19-Tracker-by-Code-for-SF?node-id=602%3A128

FAQ Contents:
https://docs.google.com/spreadsheets/d/1_wBXS62S5oBQrwetGc8_-dFvDjEmNqzqHwUeP-DzkYs/edit#gid=0

We can think of dividing into some sub

[2020-04-06 06:48] kengoy opened #42 "Death number is not updated in each county chart if disable "Confirmed""
**Describe the bug**
Only "Confirmed" cases number is shown in the header of each chart even the chart shows both "Confirmed" and "Deaths".
If user click "Confirmed" to disable "Confirmed" and to see only death chart, the above shown number should be updated for deaths number.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on 'Confirmed' label on each chart
2. The chart shows only Dea

[2020-04-06 16:59] thuongho commented on #13
I'm working on the side menu.

[2020-04-06 20:54] frhino commented on #42
@kengoy Shouldn't we have confirmed *and death* numbers above at all times? Here's a mock up kind of like that would look like:
![image](https://user-images.githubusercontent.com/7381521/78604090-d5d3c900-781e-11ea-8fbd-b51d1a40ba63.png)

[2020-04-06 21:51] ldtcooper commented on #21
Yes!

[2020-04-06 21:51] #21 closed

[2020-04-07 05:09] kengoy commented on #42
@frhino That's a good idea. I would need to change a data model for the view component but I think we should show that way.

[2020-04-09 22:09] #13 closed

[2020-04-10 03:23] frhino commented on #42
I'm on with the UX team now and we'll discuss.

[2020-04-10 03:39] frhino opened #49 "UX Simplify Navigation Flow"
**Is your feature request related to a problem? Please describe.**
The three primary user flows, FAQ, Statistics, and News, are redundantly accessed from top of main body and side bar on left.

**Describe the solution you'd like**
System of tabs at top and sub navigation on sidebar

**Describe alternatives you've considered**
Other ideas.

**Additional context**
Working on some early wireframes he

[2020-04-10 22:17] kengoy commented on #40
1. Create a UI component for FAQ category is DONE

[2020-04-12 23:31] justinjiangrws commented on #49
Been mostly working on revamping some of the nav fundamentals and visuals - here are some examples:

![home-concept2 (JJ)](https://user-images.githubusercontent.com/10675221/79082423-b20afa00-7cda-11ea-998a-2c9bb9af9faf.png)

![home-concept2-scrolled (JJ)](https://user-images.githubusercontent.com/10675221/79082425-b6cfae00-7cda-11ea-8756-798ca5e35e5a.png)

![home-concept2 (JJ)](https://user-image

[2020-04-13 01:33] Charles-Beta opened #54 "Create and Document Process To Review Data For Website FAQ"
**Is your feature request related to a problem? Please describe.**
Document process to upload content for FAQ page (GitHub task #40).

**Describe the solution you'd like**
Steps are outlined in **Help Instructions** tab:
https://docs.google.com/spreadsheets/d/1_wBXS62S5oBQrwetGc8_-dFvDjEmNqzqHwUeP-DzkYs/edit#gid=0

**Describe alternatives you've considered**
Document a process where questions and

[2020-04-13 04:25] kmkimbro opened #55 "UI Style Sheet"
**Is your feature request related to a problem? Please describe.**
UX/UI team needs to create a style sheet with final deliverables for developers.

**Describe the solution you'd like**
Style sheet needs to include:
+Headers/Text
+Grid Layouts
+Components
+Color

**Describe alternatives you've considered**
n/a

**Additional context**

[2020-04-13 04:30] kmkimbro opened #56 "Integrate FAQ to UI"
**Is your feature request related to a problem? Please describe.**
FAQ questions have not been integrated into the final UI design.

**Describe the solution you'd like**
UX team needs to work with Charles to integrate final FAQ questions to UI  We should have a meeting about how to integrate this.

**Describe alternatives you've considered**
n/A

**Additional context**
.

[2020-04-13 04:33] kmkimbro opened #57 "Prototype"
**Is your feature request related to a problem? Please describe.**
As a final deliverable, UX/UI team needs to create a prototype for the developers so they can implement the design.

**Describe the solution you'd like**
Principle or figma.

**Describe alternatives you've considered**

**Additional context**

[2020-04-14 01:37] frhino commented on #57
@kmkimbro Is this issue for a prototype of the whole website, any prototype in the future, or a prototype to help communicate a specific UI? (any is ok!)

- If for a prototype of the whole website, I think we might need to break it down into multiple other issues
- If for any prototype in the future, then we might consider making a new New Issue Template for UX team so they remember to deliver all

[2020-04-14 22:59] nikobooth opened #59 "Conduct user interviews to asses data needs"
Conduct research to help determine potential users' preferences and requirements for how data is presented.

Interview one participant at a time using the Research Brief as a guide.  Record notes on the Google sheet. Feel free to expand the conversation with your participants if you find an interesting vein of conversation. Reach out to Niko on Slack if you have any questions about this UXR projec

[2020-04-16 01:19] justinjiangrws commented on #55
Version 1 of the Stylesheet has been created. Open to suggestions and edits, but for now I'll close this issue.

**Type**

<img width="3600" alt="type" src="https://user-images.githubusercontent.com/10675221/79404041-7889f700-7f45-11ea-93d5-d40a9ab9b214.png">

**Colors & Grids**

<img width="3600" alt="colors   grids" src="https://user-images.githubusercontent.com/10675221/79404045-7aec5100-7f45-1

[2020-04-16 01:28] justinjiangrws commented on #55
Actually reopening for UX tasks relating to accessibility issues (see [WCAG guildelines](https://www.w3.org/WAI/standards-guidelines/wcag/).

Key tasks to consider:

• keyboard accessibility
• color contrast according to the WCAG guidelines
• alternative text on meaningful images

[2020-04-16 22:00] kengoy commented on #57
@kmkimbro @justinjiangrws  Can you attach the landing image (gg bridge with purple background)? I can see other stylesheet and icons in #55.

[2020-04-16 22:24] justinjiangrws commented on #57
@kengoy Let me know if this works. There are 3 resolutions attached. Should there be a folder for digital assets on the github? (or is there one already?)

![header-bg](https://user-images.githubusercontent.com/10675221/79512486-61571200-7ff6-11ea-8c7b-f71946a711fa.png)
<img width="1440" alt="header-bg@2x" src="https://user-images.githubusercontent.com/10675221/79512494-64520280-7ff6-11ea-9c74-6f4

[2020-04-16 22:42] kengoy commented on #57
@justinjiangrws That works! Thank you. I can add this on the github when I finish the development. No worries.

[2020-04-17 06:03] #30 closed

[2020-04-17 06:05] kengoy opened #63 "UI Design Update based on the wireframe and style sheet."
UX team provided UI wireframe and style sheet #55 #57 .

This ticket is for development.

[2020-04-23 02:46] Mr0grog commented on #36
This needs coordination with the scraper side over at https://github.com/sfbrigade/data-covid19-sfbayarea, since our current data set doesn’t have this level of detail.

[2020-04-23 03:21] Mr0grog opened #68 "Automate news feed for San Francisco"
On the news screen, we show news items from San Francisco’s official COVID news page (https://sf.gov/news/topics/794). However, we are currently populating this info by hand!

Instead, we should have a script (that we can later automate with `cron` or a CI job) that pulls down all the news items and adds them to [`data/news.json`](https://github.com/sfbrigade/stop-covid19-sfbayarea/blob/master/dat

[2020-04-23 06:16] Mr0grog opened #69 "Identify news sources for each county"
The news page is currently powered by the [`data/news.json`](https://github.com/sfbrigade/stop-covid19-sfbayarea/blob/master/data/news.json) file, which has so far been manually updated by @kengoy, and only includes information from San Francisco county.

We need to identify useful news sources for all the other bay area counties:

- [x] San Francisco
- [ ] Santa Clara
- [ ] Alameda
- [ ] San Mate

[2020-04-23 06:32] Mr0grog commented on #68
The city’s new site does not appear to have an RSS or Atom feed, so we may have to scrape the news page. :(

(I’ve also sent a bit in the new website feedback form about this, so with any luck they’ll add one — or just point out whatever I missed.)

[2020-04-23 20:21] Mr0grog commented on #68
Per discussion in Slack, the code for this has moved over to the data repo at: https://github.com/sfbrigade/data-covid19-sfbayarea/pull/35

[2020-04-24 04:45] Mr0grog commented on #69
## Alameda County

1. Has a [“county news & announcements” RSS feed](https://public.govdelivery.com/topics/CAALAME_1/feed.rss), but it’s broader than Coronavirus-related news, and has less-than-stellar headlines (e.g. “Alameda County News & Information Update 4/23/20”). We could search the article descriptions for key terms like “covid” or “coronavirus” and filter the feed to entries that match.

[2020-04-24 04:53] Mr0grog commented on #69
## Solano County

1. The [county homepage](http://www.solanocounty.com/) has a “headline news” section that we could scrape and filter for covid-related key terms like the Alameda County RSS feed above.

2. Has a [coronavirus-specific press releases page](http://www.solanocounty.com/depts/ph/coronavirus_links/coronavirus_press_releases_and_information.asp) we could scrape. No RSS.

[2020-04-24 05:03] Mr0grog commented on #69
## Napa County

1. Has a [“news flash” RSS feed](https://www.countyofnapa.org/RSSFeed.aspx?ModID=1&CID=All-newsflash.xml) with some coronavirus-related items. We could filter it by key terms.

2. Has a [page of “situation updates”](https://www.countyofnapa.org/2770/Situation-Updates), but they’re just text blurbs, not individual items with URLs we could link to. They’re also mainly just daily coun

[2020-04-24 05:21] Mr0grog commented on #69
## Contra Costa County

1. Has a [“news flash” RSS feed](https://www.contracosta.ca.gov/RSSFeed.aspx?ModID=1&CID=All-newsflash.xml) with some coronavirus-related items. We could filter it by key terms.

2. Has a [coronavirus-specific “news flash” page](https://www.contracosta.ca.gov/CivicAlerts.aspx?AID=2180) (no corresponding RSS). Each items is a paragraph, often with a link or two. It’s not ent

[2020-04-24 06:02] Mr0grog commented on #69
## Santa Clara County

1. The [COVID-19 homepage](https://www.sccgov.org/sites/covid19/Pages/home.aspx) has a list of announcements near the bottom we can scrape (no equivalent RSS I can find).

2. The Public Health Department has a [newsroom](https://www.sccgov.org/sites/phd/news/Pages/newsroom.aspx) we can scrape. Can’t find any RSS or Atom feeds for it. :\

3. The Office of Public Affairs also

[2020-04-26 20:38] #57 closed

[2020-04-26 21:09] justinjiangrws opened #70 "Project Information Page"
**Is your feature request related to a problem? Please describe.**

Currently, existing wireframes do not reference ways for a user to join or participate in the project.

see #57

**Describe the solution you'd like**

Send people to a Project Information page from various locations throughout the site, preferably heavily emphasized.

**Describe changes you've considered/designed**

What I've Done

[2020-04-26 21:14] justinjiangrws opened #71 "Rework Top Nav to Include Changes to name (Pandemic Dashboard)"
**Is your feature request related to a problem? Please describe.**

We've changed our name and scope of the Bay Area team.

**Describe the solution you'd like**

Quick changes to the top nav to read "Bay Area Pandemic Dashboard by Bay Area Brigades.

![top-nav](https://user-images.githubusercontent.com/10675221/80319950-26a86300-87c8-11ea-80c9-847d72a59b92.png)

**Additional context**

None

[2020-04-26 21:20] justinjiangrws opened #72 "Expand current color styles"
**Is your feature request related to a problem? Please describe.**

Current color styles are a bit restrictive to data visualizations (hues of purple only).

**Describe the solution you'd like**
Bring more colors into the style sheet for use.

**Describe considerations**

Considering expanding using watercolors as a possible inspiration.

<img width="516" alt="Screen Shot 2020-04-26 at 2 18 42 PM"

[2020-04-26 22:49] kengoy commented on #63
Completed Sub-tasks:
- Create/Layout the top page (default.vue)
- Create tab page (main.vue)
- Add an app toolbar (main.vue)
- Add 3 tabs (FAQ, Status, News)
- Add components to each FAQ, Status, News
- Link from the top page and tab page

Remaining Sub-tasks:
- Link to each tab in the tab page from each card on the top page.
- Style/Font change:
- Link from tab page to back to the top page
- Layo

[2020-04-26 22:55] kengoy commented on #63
Hey @thuongho, I am still working on this design change task. But if you could have a chance to look the branch "feature/issue63", I think you can work on your side navigation task for the main.vue I have re-factored for the new design. Please let me know if you have any questions.

[2020-04-27 03:05] thuongho commented on #63
@kengoy cool. Looking good!

[2020-04-27 23:09] kengoy commented on #57
Hey @justinjiangrws, I have a few questions/requests.

- What's the font do we use on this design? Is it available somewhere like google font?
- Is it possible to provide a png file for the following icon on the header? It would be great if you could provide two versions, one is just for icon and another is icon plus text next to it.

![header-icon-wtext](https://user-images.githubusercontent.com/

[2020-04-27 23:12] kengoy commented on #57
Here is the working-in-progress site FYI.
https://panda.baybrigades.org/

[2020-04-27 23:53] justinjiangrws commented on #57
Hey @kengoy - the font style is on the stylesheet, towards the bottom of the **01. Type** section. I've attached a screenshot in case you need to refer to it:

<img width="300" alt="Screen Shot 2020-04-27 at 4 21 43 PM" src="https://user-images.githubusercontent.com/10675221/80430414-65f7b200-88a3-11ea-9274-14a16828a7f7.png">

Also, I've created the logo styles in the **05. Icons** section of the

[2020-04-28 08:45] kengoy commented on #63
Completed Sub-tasks:
- Link to each tab in the tab page from each card on the top page.
- Style/Font change:
- Link from tab page to back to the top page
- Layout issue on the tab page (app toolbar sometimes breaks the layout)

Remaining Sub-tasks:
- Update logo and language based on the latest design with the decided site name (Bay Area PanDa)
- Add side navigation in the main page (@thuongho)

[2020-04-28 08:59] kengoy commented on #57
Thanks, @justinjiangrws ! Perfect. I was not aware of the exporting way on the figma so I can do that next time.

As for the font SF Pro, it looks like it's against Apple's policy to use it for other than Apple devices (iOS, macOS, tvOS, etc). So I applied the font-family as follows. This way works SF Pro on the apple device and alternative font will be used on non-apple device (Windows, Android e

[2020-04-28 09:54] kengoy commented on #68
@Mr0grog Thank you for your work on creating a scraper for the SF news. It would be great if you could help to update news.json in this repo using the script, at least until the automation like GitHub Action is available.

[2020-04-28 17:45] Mr0grog commented on #68
Can do. Is there a time you regularly deploy, so I can make sure I do it beforehand?

[2020-04-28 21:42] justinjiangrws commented on #57
Oh wow. That was not something I was aware of. I mainly chose it as an homage to the Bay Area.

I'll find an alternative font type to use - I would like for the site to be device agnostic.

[2020-04-29 01:41] frhino opened #77 "Add web visitor metrics"
It would be interesting and valuable to have statistics on how many people visit the website, how often, etc.

One delivery format might be to add a counter on the web site, while it may be enough to just look at Google Analytics.

[2020-04-29 04:15] gregboyer commented on #77
This would be a great metric to help promote and gauge the success of promotion. Website looks amazing! Let's get it in the hands of people!

[2020-04-29 06:04] Mr0grog commented on #68
Posted a PR for the first update because it includes a small code change: #79.

Will post future updates that just touch the `news.json` file directly to master.

[2020-04-29 18:21] nikobooth commented on #70
I've added a tab to manage content for this page, it's currently on our 'research' google sheet:
https://docs.google.com/spreadsheets/d/1_wBXS62S5oBQrwetGc8_-dFvDjEmNqzqHwUeP-DzkYs/edit?usp=sharing
I really like Justin's design shown here and totally sign off on it as is. My one question is with the CTAs mid-page, are these external links to Slack/Github?

[2020-04-30 03:24] kengo-sony opened #80 "Develop footer component"
The design spec is here.
https://www.figma.com/file/iUS5LdAnuTKVei88QwPPCH/Bay-Area-Pandemic-Dashboard-(PanDa)-by-Bay-Area-Brigades?node-id=602%3A127

![Screen Shot 2020-04-29 at 8 19 43 PM](https://user-images.githubusercontent.com/57465051/80668453-cb3fd480-8a56-11ea-9233-c699ee2e4a21.png)
![Screen Shot 2020-04-29 at 8 19 24 PM](https://user-images.githubusercontent.com/57465051/80668459-cda22e8

[2020-04-30 03:27] kengoy opened #81 "Develop footer component"
The design spec is here.
https://www.figma.com/file/iUS5LdAnuTKVei88QwPPCH/Bay-Area-Pandemic-Dashboard-(PanDa)-by-Bay-Area-Brigades?node-id=602%3A127

![Screen Shot 2020-04-29 at 8 19 43 PM](https://user-images.githubusercontent.com/57465051/80668453-cb3fd480-8a56-11ea-9233-c699ee2e4a21.png)
![Screen Shot 2020-04-29 at 8 19 24 PM](https://user-images.githubusercontent.com/57465051/80668459-cda22e8

[2020-05-01 20:34] kengoy commented on #81
@kkchu791 Let me assign this to you. Thank you! Just let me know anytime if you have any questions, help etc.

[2020-05-02 06:00] kengoy commented on #40
All done.

[2020-05-02 06:00] #40 closed

[2020-05-03 01:40] nikobooth opened #87 "Stats Page Revamp Stage 1"
**Objective**

We want to be able to display more robust data on our statistics page, the first step in doing that is to create some new modules from our current data and make some changes to our current charts.

The entire 3 Stage process is laid out in our Figma file here: https://www.figma.com/file/iUS5LdAnuTKVei88QwPPCH/Bay-Area-Pandemic-Dashboard-PanDa-by-Bay-Area-Brigades?node-id=1286%3A5911

[2020-05-05 03:04] 1ec5 opened #92 "Santa Clara County chart does not match public health department dashboard"
The Santa Clara County bar chart under the Stats tab displays inaccurate daily and total figures and a curve that differs from the [official Santa Clara County Public Health Department dashboard](https://www.sccgov.org/sites/covid19/Pages/dashboard.aspx).

## Steps to reproduce

1. Go to the Stats tab. Set the toggle to Daily.
2. Hover over March 30. Observe that 202 new cases are attributed to th

[2020-05-05 03:10] 1ec5 commented on #92
The application cites [Corona Data Scraper](https://coronadatascraper.com/), which [fetches figures](https://github.com/covidatlas/coronadatascraper/blob/e5dd5c7b8a5b551dd588562995c12c85e0b6740c/src/shared/scrapers/US/CA/_mercury-news.js#L45-L46) from [this spreadsheet](https://docs.google.com/spreadsheets/d/1CwZA4RPNf_hUrwzNLyGGNHRlh1cwl8vDHwIoae51Hac/edit), which cites the Santa Clara County Pub

[2020-05-05 17:46] justinjiangrws commented on #63
Hey @kengoy is there any particular reason why the logos on the website are blurry? Is it because you are using a .png to display them?

<img width="1280" alt="Screen Shot 2020-05-05 at 10 43 15 AM" src="https://user-images.githubusercontent.com/10675221/81098018-9a7bf700-8ebd-11ea-85ab-d8de377c14c7.png">

<img width="1280" alt="Screen Shot 2020-05-05 at 10 41 21 AM" src="https://user-images.githu

[2020-05-05 20:10] kengoy commented on #63
Hey @justinjiangrws, thanks for catching. I just exported from figma to a ping file and show it as it is. Here is the exported png file.
![header-icon-wtext](https://user-images.githubusercontent.com/61864097/81110921-159ad880-8ed1-11ea-966e-67951aed3016.png)

But I think I better use text for the next part to align with other text fonts as you suggested. I was just lazy to adjust the two lines la

[2020-05-06 07:42] kengoy commented on #63
Hey @justinjiangrws, I made changes to the logo. Please check and feel free to share if it looks okay as expected.
https://panda.baybrigades.org/main

[2020-05-06 23:44] justinjiangrws commented on #63
Thanks for tackling the issue @kengoy!

I'm seeing the changes reflected on the navigation bar but not on the landing page. However, I'm also having issues with the navigation bar and for me it's not appearing as expected:

<img width="281" alt="Screen Shot 2020-05-06 at 4 40 55 PM" src="https://user-images.githubusercontent.com/10675221/81239146-da73d480-8fb8-11ea-9474-b99be6184ec0.png">

[2020-05-07 01:44] justinjiangrws opened #105 "Update Footer"
**Is your feature request related to a problem? Please describe.**
Update footer since we would like to include more content and links to direct people.

**Describe the solution you'd like**
Updated footers - preliminary designs have already been designed!

**Describe alternatives you've considered**
See attached:

![footer v2](https://user-images.githubusercontent.com/10675221/81245254-61c94400-8

[2020-05-07 04:35] kengoy opened #106 "Develop dashboard v2 (Phase1)"
UI Wireframe: See Stage 1 - County summary and county selector
https://www.figma.com/file/iUS5LdAnuTKVei88QwPPCH/Bay-Area-Pandemic-Dashboard-(PanDa)-by-Bay-Area-Brigades?node-id=1286%3A5448

UI Components
1. Topline Summary
2. County Summary & Selector
3. Separate charts for county cases and deaths
a) Bay Area total
b) County specific
4. Info tooltip integration for charts

Question about UI: Ask

[2020-05-07 04:42] kengoy opened #107 "Develop title bar UI"
This is a ticket to develop the title bar. (light purple part with the title text)

Question about UI wireframe, style: ask @justinjiangrws
Question about current Dev: ask @kengoy

<img width="319" alt="Screen Shot 2020-05-06 at 9 40 17 PM" src="https://user-images.githubusercontent.com/61864097/81255332-40c11d00-8fe2-11ea-8496-b0dd8f5b1fcf.png">
<img width="738" alt="Screen Shot 2020-05-06 at 9 4

[2020-05-07 04:52] kengoy commented on #105
Hey @kkchu791 , here is the footer design UX team provided.  You can work to communicate with the UX team on this ticket.

For detail to see the CSS code, you can refer to the Figma, right panel select "Code".
https://www.figma.com/file/iUS5LdAnuTKVei88QwPPCH/Bay-Area-Pandemic-Dashboard-(PanDa)-by-Bay-Area-Brigades?node-id=602%3A127

For any questions about UI, ask @justinjiangrws.
For questions a

[2020-05-07 04:53] kengoy commented on #81
Will move this ticket to #105.

[2020-05-07 04:53] #81 closed

[2020-05-07 05:02] kengoy commented on #71
This ticket is ready for development. Looking for a developer who can work on.

[2020-05-10 07:41] kengoy commented on #63
I made a fix. Can you please confirm the layout issue again? @justinjiangrws
I also made changes on the landing page so that the logo text should be clearly rendered.

What's the issue with the navigation bar for you? Can I get the screenshot you are seeing?

[2020-05-11 18:17] justinjiangrws commented on #63
Okay I see the fix! Think the landing page is good (as far as the logo is concerned). What do you mean by layout issue? @kengoy

As far as the landing page, here is my screenshot:

<img width="1280" alt="Screen Shot 2020-05-11 at 10 39 51 AM" src="https://user-images.githubusercontent.com/10675221/81596403-e07f0200-9378-11ea-9d5a-907942ebd59b.png">

The overflow has been fixed, but now it's cuttin

[2020-05-11 19:32] kengoy commented on #63
@justinjiangrws  I don't see the ending "r"  on your screenshot if my eys is normal...  Let me fix it.

I meant the layout issue is below.

[2020-05-12 02:34] #54 closed

[2020-05-12 07:16] kengoy commented on #63
I made a fix for the cutting off text issue. Fingers crossed. @justinjiangrws

[2020-05-18 18:58] 1ec5 commented on #92
Same thing for San Francisco: covidatlas/coronadatascraper#1011.

[2020-05-20 19:25] Mr0grog commented on #68
This was fixed in 7af9b49062260cf5e8726ad2457e1609d6fa61c1

[2020-05-20 19:25] #68 closed

[2020-05-20 21:37] kengoy opened #143 "Navigation cards not showing up on the homepage on 13 Mackbook using Firefox"
allenmeyer reported.

https://sfbrigade.slack.com/archives/CVBEUJFCN/p1589586022376300

<img width="1243" alt="Screen Shot 2020-05-20 at 11 03 04 AM" src="https://user-images.githubusercontent.com/61864097/82499911-5e44bb00-9aa7-11ea-852e-5a6439d809c0.png">

[2020-05-21 03:20] kengoy commented on #105
Hey @kkchu791 , just wanted to check out this status, and see if I can help this out to work together. I talked to @thuongho in today's hack night that he is also available to help. Please let me know your status. No worries about not making progress even if that's the case. We are the team to help out and learn together.

[2020-05-22 06:04] kengoy commented on #106
@shaoevans Great job on working on Phase1.

Now reviewing status: #145

Known issues to be fixed:
- Deployment test fails
- Selecting county does not reflect the number on the right side Confirmed Cases and Deaths cases. It shows always San Francisco for now.
- Mobile layout support
- Font is something strange for some reason. Top Navigation Bar font is strange too.
- Divide the chat into Confirme

[2020-05-27 04:15] thuongho commented on #71
Issue fixed and merged with PR#133. Closing issue.

[2020-05-27 04:15] #71 closed

[2020-05-28 01:16] justinjiangrws opened #153 "Update Stylesheet"
**Is your feature request related to a problem? Please describe.**
SF Pro, the typeface, is proprietary and Apple restricts its use to only Apple devices.

**Describe the solution you'd like**
I've gone ahead and change the stylesheet accordingly using Avenir Next, Helvetica Neue, and Archivo Black/Narrow.

See the changes here: https://www.figma.com/file/iUS5LdAnuTKVei88QwPPCH/Bay-Area-Pandemic-D

[2020-06-01 21:51] nikobooth opened #162 "Add chart for age/gender statistics"
**Once Stage 1 (County Selector) is live, we can add this chart**

We have age and gender information linked into our data model but currently do not display these on our site.

Screenshot and link to the Figma file:
![Age_Gender](https://user-images.githubusercontent.com/63436818/83457979-9092d880-a416-11ea-894d-47b0b62c452b.png)

https://www.figma.com/file/iUS5LdAnuTKVei88QwPPCH/Bay-Area-Pandemi

[2020-06-02 00:16] nikobooth opened #163 "Create charts for Race & Ethnicity data"
**Once Stage 1 (County Selector) is live, we can add this chart**

Cases by Race & Ethnicity data has been linked up to our data model and we can create charts to display these statistics.

Screenshots:

![County Cases - Race Ethnicity](https://user-images.githubusercontent.com/63436818/83466285-79aab100-a42b-11ea-8e32-341f51698ffb.png)

![County Cases - Race Ethnicity per 1000](https://user-image

[2020-06-02 00:24] nikobooth opened #164 "Create chart for testing data"
**Once Stage 1 (County Selector) is live, we can add this chart**

We have testing information linked into our data model but currently do not display these on our site. The dark purple represents the positive test results while the lighter purple represents negative results, together they show the number of test results received on a given day.

Screenshot and link to the Figma file:
![neg](https

[2020-06-02 19:33] elaguerta commented on #163
In the data model, the field `source_url` should be the destination of the "open data source" link.
Please also see the field `meta_from_baypd`, this text should be included in the "Data Notes."
In addition to citing "US Census Data", I would add that the source is the "2018 American Community Survey 5-Year Estimates".

[2020-06-02 19:39] elaguerta commented on #164
Regarding the 1.5 tests per 1000 residents metric, we would be relying on the 2018 ACS data, right? So this is a static goal that we're trying to reach with the cumulative calculated test number. Could you just include this number in the background of the cumulative visualization?

[2020-06-02 20:46] elaguerta commented on #162
We may want to provide the option of separating gender and age to make it easier to compare across counties. Gender groups should be relatively easy to compare across counties, but the age buckets are different. Here's a thought on using a color scale to compare age brackets across different counties. Note that I'm only showing absolute numbers - we probably want the colors to be assigned to perce

[2020-06-03 08:55] kengoy commented on #63
No remaining issues for this ticket. I will close.

[2020-06-03 08:55] #63 closed

[2020-06-05 06:40] kengoy commented on #106
- Deployment test fails
- Selecting county does not reflect the number on the right side Confirmed Cases and Deaths cases. It shows always San Francisco for now.
- Mobile layout support

These are done by @shaoevans

[2020-06-05 06:41] kengoy commented on #106
Remaining issues to be fixed:
- Last Updated at is wrong date
- Font is something strange for some reason. Top Navigation Bar font is strange too.
- Divide the chat into Confirmed Cases and Death Cases.
- Layout adjustment in each chart (font size of number, show date next to number)

[2020-06-09 20:17] #72 closed

[2020-06-09 20:18] justinjiangrws commented on #72
Task has been completed!

[2020-06-09 20:32] justinjiangrws opened #176 "Design Wireframes V2 (Aesthetic changes, Project Information Page + Links)"
**Description**
New wireframe design, including revised hero image background and banners to increase number of colors used. New colors are also reflected in the color/stylesheet. Also included is a new Project Information page and associated CTAs in the FAQ, Stats, and Updates page. The Project Information page has links to the Slack channel and other introductory links (ie. the document that @fr

[2020-06-11 02:41] thuongho opened #178 "Update Landing Page background"
**Is your feature request related to a problem? Please describe.**
Update landing page with latest design

**Describe the solution you'd like**
Update landing page background

**Describe alternatives you've considered**
n/a

**Additional context**
Add any other context or screenshots about the feature request here.

[2020-06-13 21:45] #178 closed

[2020-06-21 06:44] kengoy opened #202 "Total Deaths number is not aligned with the chart"
![Screen Shot 2020-06-20 at 11 42 47 PM](https://user-images.githubusercontent.com/61864097/85218508-fad0d600-b34f-11ea-90f0-9193364789a0.png)

[2020-06-23 19:48] thuongho opened #210 "COVID Related Deaths graph shows count as negative number"
**Describe the bug**
The COVID deaths graph displays negative numbers

**To Reproduce**
Steps to reproduce the behavior:
1. Stats tab
2. Scroll down to Show Data For: county selector
3. Select Contra Costa County
4. See error

**Expected behavior**
Graphs tallying count should not display negative numbers range

**Screenshots**

![covid deaths contra costa](https://user-images.githubusercontent.co

[2020-06-24 06:08] kengoy commented on #202
Fixed #203

[2020-06-24 06:08] #202 closed

[2020-06-24 06:17] kengoy commented on #153
@justinjiangrws  The change has been made.  Please review if the expected font is being used on different devices.

[2020-06-24 06:19] kengoy commented on #42
The latest chat has separate charts between confirmed cases and deaths. This is no longer an issue. Let me close this.

[2020-06-24 06:19] #42 closed

[2020-06-24 06:19] kengoy commented on #106
All done. Close this.

[2020-06-24 06:19] #106 closed

[2020-06-24 06:20] kengoy commented on #32
Won't do this. will close.

[2020-06-24 06:20] #32 closed

[2020-06-24 06:21] kengoy commented on #10
Won't do this. Will close.

[2020-06-24 06:21] #10 closed

[2020-06-24 06:21] kengoy commented on #31
Won't do this unless there is clear user needs.

[2020-06-24 06:21] #31 closed

[2020-06-24 06:22] kengoy commented on #5
Design has been changed already. Will close this as this is no longer an issue.

[2020-06-24 06:22] #5 closed

[2020-06-24 06:22] kengoy commented on #3
Close this.

[2020-06-24 06:22] #3 closed

[2020-06-24 06:22] kengoy commented on #6
GitHub Action is ready. Close this.

[2020-06-24 06:22] #6 closed

[2020-06-24 06:24] kengoy commented on #87
@nikobooth Stage 1 has been developed now. Please let me know if you find any additional items which need to be developed.

[2020-06-24 06:26] kengoy commented on #143
It's been fixed now. Will close this.

[2020-06-24 06:27] kengoy commented on #210
Could be an original data source issue. Need to check.

[2020-06-24 20:12] nikobooth commented on #87
Kengo! This looks amazing, I've checked it out on desktop and mobile and you've done a great job implementing! There are just two small details:
1) the daily total deaths chart for some reason starts at -5. Unless we have people coming back from the dead (at this point we shouldn't rule out anything for 2020, we should make that a 0.
![image](https://user-images.githubusercontent.com/63436818/8562

[2020-06-24 20:14] nikobooth commented on #87
I guess I can't upload an MP4 here but here is the link to the file in my drive. My phone recorder doesn't show exactly where my touches are but I'm just swiping across the bars when it changes pages.

https://drive.google.com/file/d/1iMYg-210TuOlwJdQeMrC8ZDLPmxMbHHz/view?usp=sharing

[2020-06-24 21:23] nikobooth commented on #210
It appears that Santa Clara and Contra Costa Counties both reported negative deaths at some point

[2020-06-25 23:25] frhino opened #216 "Add "per 10K" toggle to cases and deaths charts"
**Is your feature request related to a problem? Please describe.**
I think nominal cases and deaths numbers are important, but it's missing crucial context for comparing one area to another.

**Describe the solution you'd like**
It seems to be a best practice to publish covid statistics using a "per 10K" using the region's population.

cases / (population / 10,000)

**Describe alternatives you've

[2020-06-25 23:35] frhino opened #217 "Standardize the Y-axis on charts for easier comparison"
**Is your feature request related to a problem? Please describe.**
Dynamic scaling in our chart components provides for consistently beautiful charts for when looking at counties individually, but if I want to compare one county to another, the dynamic scaling is deceptive.

**Describe the solution you'd like**
When I select a county from the dropdown picker, I want the chart scale to maintain the

[2020-06-26 00:12] frhino commented on #70
I really like the wireframes as well. Have they been submitted to web dev?

Also, I believe the links to About the Project are dead, and the C4SF link goes to the content that should be for "About the Project."

[2020-06-30 17:49] gregboyer opened #231 "Add Code for San Francisco website to social links"
**Describe the solution you'd like**
In the social links at the bottom, I'd add a link to the website for "Code for San Francisco".

**Additional context**
The other links on there all pertain to the Org, but are missing the central hub so to speak.

[2020-07-01 21:07] nikobooth opened #236 "County Info Page"
Reworking the current "news" page into a County Info page with selector to toggle between counties.

Mockup can be found on the Figma file on the 'wireframes for development' page: https://www.figma.com/file/iUS5LdAnuTKVei88QwPPCH/Bay-Area-Pandemic-Dashboard-PanDa-by-Bay-Area-Brigades?node-id=2161%3A8680

![image](https://user-images.githubusercontent.com/63436818/86291600-0fa93700-bba4-11ea-9fa4-

[2020-07-02 02:33] frhino commented on #236
Is this a good first issue?

[2020-07-06 03:48] ilakyapal commented on #231
I can take this issue if nobody has started working on it already!

[2020-07-07 08:11] kengoy opened #250 "Stats Page Revamp Stage 2"
**UI Spec:**
https://www.figma.com/file/iUS5LdAnuTKVei88QwPPCH/Bay-Area-Pandemic-Dashboard-(PanDa)-by-Bay-Area-Brigades?node-id=1286%3A5448

**Sub Dev Tasks**
- Add a UI component for "Select Counties to Compare"
- Add buttons for 9 counties
- Assign a nice color for each country for selectetd status.
- Add a UI component for the line chart
- Prepare data(or calculate from existing data) for cases

[2020-07-07 20:41] nikobooth commented on #162
@thuongho here are the updated charts with gender and age separated!

![County Cases - Age](https://user-images.githubusercontent.com/63436818/86840242-5b9e2500-c057-11ea-8074-b61f3d1df8ec.png)

![County Cases - Gender](https://user-images.githubusercontent.com/63436818/86840299-6b1d6e00-c057-11ea-81e6-e151f9f8a4fb.png)

and here is the link to their Figma frames: https://www.figma.com/file/iUS5Ld

[2020-07-07 20:42] nikobooth commented on #236
I think it would be! What do you think @thuongho ?

[2020-07-07 20:48] thuongho commented on #162
Sweet! Thanks for the update @nikobooth. It looks good! If I run into any questions, I'll let you know.

[2020-07-07 20:52] thuongho commented on #236
Yes I agree, it might be a good first issue. Not too complicated, but at the same time has a bit of trickiness (possibly from integrating the side menu built for faq) that will give a rewarding challenge.

[2020-07-08 07:11] kengoy commented on #250
- [DONE ] Add a UI component for "Select Counties to Compare"
- [DONE ] Add buttons for 9 counties
- [DONE] Assign a nice color for each country for selected status.
- [DONE] Add a UI component for the line chart
- [DONE] Prepare data(or calculate from existing data) for cases per 1000 people
- [DONE] Prepare data(or calculate from existing data) for Percent Increase in 7 Days

[2020-07-08 19:17] kengoy commented on #250
Thanks for reviewing @thuongho !

@nikobooth Phase 2 is "almost" ready! Can you please review if it is as you expect?
https://panda.baybrigades.org/main

The remaining dev tasks are:
 "Bay Area Average" "California Average" "National Average"

I think we can show "Bay Area Average" line chart in default without placing the button. User can just select counties to compare with "Bay Area Average". "

[2020-07-08 19:23] kengoy commented on #250
@nikobooth

Oh, one important question I was about to ask is regarding the "Cases per 1,000 People" chart, did you mean it is for "Daily Cases per 1,000 People" or "Total(Cumulative) Cases per 1,000"?

Right now it is calculated as "Daily Cases per 1,000 People".
 `DAILY CONFIRMED CASES  /  (COUNTY POPULATION / 1000)`

If you meant it should be calculated as total cases (Cumulative Cases), I will

[2020-07-08 22:09] nikobooth commented on #250
This is looking excellent, here are my notes:
1. For cases per 1000, I think the best metric to show would be the 7 day average of new cases/1000 pop. The 7 day avg normalizes the curve and better shows trends. Per 1000 pop will again normalize for county size. To get this value for a given day, use:
([SUM OF **DAILY** CONFIRMED CASES OF PAST 7 DAYS]/7)/[COUNTY POPULATION]/1000
This metric also fo

[2020-07-10 05:48] kengoy commented on #70
I will work on this as a next task.

[2020-07-10 09:15] kengoy commented on #70
About the Project page is updated.
Instead of "Database Contribution", added "Provide Feedback" with the link to Google Forrm @frhino created.

[2020-07-10 16:40] elaguerta opened #262 "FEEDBACK MEGA THREAD"
This issue is for more general feedback. We want to know how you're using this project. Did this project help you navigate life during a pandemic? Did it fall short in some specific use case? Please leave testimonials, hopes, dreams, fears, in this thread.  We hope to use some of the community responses to gain visibility for the project, and to campaign at the county and state levels for wider ac

[2020-07-12 22:24] nikobooth commented on #70
Noticed on the about page that the top nav bar doesn't work except to go back to the home page. Also it shows FAQ as being the currently selected section.

Can it be adjusted so that no section is highlighted and that clicking 'faq', 'stats', or 'updates' will take users to the relevant section?

![image](https://user-images.githubusercontent.com/63436818/87257887-c7b3cb00-c453-11ea-8552-592512466

[2020-07-13 04:56] kengoy commented on #105
We can close this now.

[2020-07-13 04:56] #105 closed

[2020-07-13 05:01] kengoy commented on #107
Latest UI wireframe: https://www.figma.com/file/iUS5LdAnuTKVei88QwPPCH/Bay-Area-Pandemic-Dashboard-(PanDa)-by-Bay-Area-Brigades?node-id=602%3A127

[2020-07-13 05:04] #143 closed

[2020-07-14 03:01] ilakyapal commented on #231
I noticed that "About Code 4 San Francisco" now links to the website -- would it be redundant to also include a website link in the social section?

[2020-07-14 23:00] ilakyapal commented on #107
@kengoy Is someone actively working on this issue or is it available to help with?

[2020-07-15 07:13] kengoy opened #272 "Top Navigation Bar in About Page does not work as expected"
The about page that the top nav bar doesn't work except to go back to the home page. Also it shows FAQ as being the currently selected section.

Need to adjust that no section is highlighted and that clicking 'faq', 'stats', or 'updates' will take users to the relevant section.

![87257887-c7b3cb00-c453-11ea-8552-5925124664ae](https://user-images.githubusercontent.com/61864097/87514979-fa1a1f80-c6

[2020-07-15 07:16] kengoy commented on #107
@ilakyapal Yes, this task is being in progress. Let me think another issue for you.

[2020-07-15 07:18] kengoy commented on #231
@gregboyer Can you please check the website and let us know what we can improve for this ticket?

[2020-07-15 22:05] kengoy opened #275 "(Mobile only) Swiping over the charts to see the tooltip popup, it took me to the FAQ or News pages."
https://drive.google.com/file/d/1iMYg-210TuOlwJdQeMrC8ZDLPmxMbHHz/view?usp=sharing

[2020-07-15 22:06] kengoy commented on #87
Thanks @nbasu02

I have created a separate issue ticket #210  #275.

We can close this ticket.

[2020-07-15 22:06] #87 closed

[2020-07-16 03:28] nikobooth commented on #162
Note to please adjust chart title: "Confirmed Cases by Sex: <County Name>"

[2020-07-19 06:33] thuongho opened #282 "Info overlay on Race and Ethnicity Chart prevents interaction with tooltips and source link"
**Describe the bug**
The overlay is preventing tooltip from showing when mouse hovers over the bar graphs. Source link is not clickable as well.

**To Reproduce**
Steps to reproduce the behavior:
1. Hovering mouse over Race and Ethnicity bar chart has no reaction
2. Click on Link to Open Data Source has no reaction

**Expected behavior**
The info overlay should not prevent interaction with Race an

[2020-07-19 07:15] kengoy commented on #275
#283  fixed.

[2020-07-19 07:15] #275 closed

[2020-07-26 00:14] frhino opened #294 "Project overview doc link should be for "view" rather than "edit.""
**Describe the bug**
In the footer there's a link to project information, and that page's first button links to the "edit" version of the project overview link.

**Expected behavior**
It should link to this instead: https://docs.google.com/document/d/1b4ct3YOURBCzlZQTqyGOXM8w4m_tQJ94rAd1eV8KG4E/edit?usp=sharing

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](

[2020-07-26 20:03] #282 closed

[2020-07-29 05:05] nikobooth commented on #163
For the per 1000 chart, I think we can keep the format as shown in the mockup above. For the population demographic data, I think the consensus was that the 2018 census data was fine to use in the method I described 2 weeks ago. Basically [ETHNICTY]POPULATION = [COUNTY]POPULATION*[ETHNICITY]%
for example:
![image](https://user-images.githubusercontent.com/63436818/88756585-e20acb80-d118-11ea-95b4-

[2020-07-31 17:31] thuongho commented on #162
Age and Sex charts delivered with #259. Closing issue.

[2020-07-31 17:31] #162 closed

[2020-08-01 00:06] thuongho commented on #272
Fixed with #304

[2020-08-01 00:06] #272 closed

[2020-08-01 06:14] kengoy commented on #236
Assign @devdav1999 to this.

[2020-08-09 20:44] kengoy opened #319 "Summary 9 Bay Area data is not showing correctly."
![Screen Shot 2020-08-09 at 1 43 32 PM](https://user-images.githubusercontent.com/61864097/89741467-77299080-da46-11ea-90fb-640acc1f9c37.png)

[2020-08-09 20:47] kengoy commented on #319
Hey @shaoevans, I need your help! Do you have the bandwidth to look into this issue?

[2020-08-09 23:18] #319 closed

[2020-08-18 18:31] nikobooth opened #333 "Change comparative graph metric - New Cases per 100,000 residents (14 day average)"
The first comparative graph on the site currently displays data for new cases per 1,000 people:
![image](https://user-images.githubusercontent.com/63436818/90550701-251ef400-e145-11ea-867d-95e39fb52bef.png)

This should be adjusted to display New Cases per 100,000 residents - 14 day average
![image](https://user-images.githubusercontent.com/63436818/90551013-98286a80-e145-11ea-92e6-bb0377a3d13b.pn

[2020-08-19 23:49] thuongho opened #335 "Clicking side navigation on FAQ page doesn't highlight the correct category"
**Describe the bug**
The FAQ side navigation highlight is not correctly displaying the active category when a category is clicked on

**To Reproduce**
Steps to reproduce the behavior:
1. Go to FAQ page
2. Click on a side navigation category
3. See the active category is not correctly highlighted

**Expected behavior**
Click on a category and the selected category should be highlighted with a purpl

[2020-08-20 02:16] nikobooth commented on #333
As this is implemented, we should adjust the summary module to show cases per 100,000 (14 day avg) as well:

![image](https://user-images.githubusercontent.com/63436818/90709178-77007080-e250-11ea-8774-116779acb16f.png)

[2020-08-27 01:01] justinjiangrws opened #345 "Redesigned Graph Containers"
**Is your feature request related to a problem? Please describe.**
Current graph view did not have a way to control time intervals, error states, and UI was a bit crowded.

**Describe the solution you'd like**
Added new time picker dropdown.

<img width="667" alt="Screen Shot 2020-08-26 at 5 41 06 PM" src="https://user-images.githubusercontent.com/10675221/91370587-943ebd00-e7c3-11ea-996d-f75ae786

[2020-10-14 06:57] Mr0grog opened #495 "Set-env command in GitHub actions is deprecated"
Several of our actions workflows use the `set-env` command to set environment variables for use in future steps of the workflow, but the `set-env` command is now deprecated and will be removed in the future. More info about the change (it’s a security issue): https://github.blog/changelog/2020-10-01-github-actions-deprecating-set-env-and-add-path-commands/

We use it in several parts of all our wo

[2020-10-15 02:09] #333 closed

[2020-10-18 18:25] kengoy commented on #495
I changed our all github action scripts not to use `set-env` but it still shows the warnings as well as `add-path`. Hmm...

[2020-10-18 18:36] kengoy opened #510 "Create Hospitalization Chart"
[The scraper for hospitalization data](https://github.com/sfbrigade/data-covid19-sfbayarea#hospital-scraper) is ready.
This ticket is to create the chart graph in the dashboard site.

Sub Tasks:

1. Import the scraped data onto data/data_hospitalization.json
2. Create a git hub action to update every day or every X hours.
3. Create UI Wireframe
4. Front-end dev for it

[2020-10-19 03:34] frhino opened #513 "Panda web pages need more on-topic keywords to break through to page 1 of results"
“Pandemic” is too general; “coronavirus” and “covid” seem to be used more in searches.
Long-term we could certainly move back towards “pandemic” but to get traction now we need to err on the side of practicality to earn users and traffic from Google.
“Dashboard” is good, but “tracker” and “map” would better “exact-match” with search volume metrics.

[2020-10-19 03:35] frhino opened #514 "Set up Google Search Console"
so we can better track organic search traffic sources and submit our sitemap to Google whenever we push updates

[2020-10-19 03:36] frhino opened #515 "Implement new Title, H1 and Meta Description tags"
Align towards search terms we want to prioritize. @kengoy started this.

[2020-10-19 03:38] frhino opened #516 "Implement site links for search results"
Data tracker page
FAQ page
Latest Updates page
About Page

[2020-10-19 03:41] frhino opened #517 "Get a Google Grant for search advertising"
Apply for a [Google Grant](https://www.google.com/grants/)
Coordinate with CfA to secure a grant specific to Panda. Details [here](https://support.google.com/grants/answer/6077350?hl=en).
We also need to ensure our website passes their [requirements](https://support.google.com/grants/answer/1657899?hl=en). It should at first look via Lighthouse inspection under “SEO” section above.
Launch campaign

[2020-10-19 03:42] frhino opened #518 "Get dogfooding credit from a Google employee"
Similar to Facebook, an employee should have access to ad credits in exchange for product feedback.

[2020-10-19 03:43] frhino opened #519 "Add a share widget to the data dashboard page"
to drive more social shares
We can typically find a plugin or a JS snippet to complete this

[2020-10-19 04:38] Mr0grog commented on #495
Ahhhh, they are coming from the [peter-evans/create-pull-request](https://github.com/peter-evans/create-pull-request) action:

<img width="759" alt="Screen Shot 2020-10-18 at 9 32 44 PM" src="https://user-images.githubusercontent.com/74178/96401919-85ec9c00-1189-11eb-90d8-66c76572f3d7.png">

It looks like we are no longer on the latest version (we’re on v2, the latest is v3), so hopefully upgradin

[2020-10-25 19:21] #335 closed

[2020-11-05 03:17] #510 closed

[2020-11-16 00:38] thomhammond commented on #77
It looks like this issue is resolved and Google Analytics has been set up. Is that correct?

[2020-11-19 23:07] nikobooth commented on #519
@thomhammond I'm thinking we float the widget at the bottom for mobile view and on the top right side for desktop views, here's what it would look like on our main page views for mobile:

<img width="414" alt="landing-v2" src="https://user-images.githubusercontent.com/63436818/99734273-5de9a480-2a77-11eb-887b-ddd0fda96b59.png">

<img width="414" alt="faq-v2" src="https://user-images.githubusercont

[2020-11-20 01:42] thomhammond commented on #519
Awesome, thanks! I hope to have some time to dig in this weekend. Just to double-check, the icons should stick on desktop as well? Just want to make sure I didn't misunderstand that!

[2020-11-20 02:15] nikobooth commented on #519
Yup, they'll follow the user as they scroll. If we find later that they're not being used too much, we can find a static home for them somewhere.

[2020-12-17 04:33] MosesSupposes opened #750 "Add a side navigation bar to the "County Info" page"
**Is your feature request related to a problem? Please describe.**
Currently, there is a sidebar for the "FAQ" tab that allows you to navigate between the different sections of the page, but there is no sidebar for the "County Info" tab.

**Describe the solution you'd like**
There should be a sidebar navigation on the "County Info" page.

**Describe alternatives you've considered**
N/A

**Addition

[2020-12-21 01:59] thuongho opened #764 "San Mateo data is broken"
**Describe the bug**
On Stats page, the data for San Mateo seems to be broken. It only show data from 9/23.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Stats'
2. Click on 'Show Data For:' County Selector dropdown and select 'San Mateo'
3. View the cases and deaths charts

**Expected behavior**
San Mateo should display current data like all the other counties.

**Screenshots**
![Sc

[2020-12-31 18:17] yetesh commented on #764
I'm working on this. Seems we filter our `0` cases in formatGraph.ts and `San Mateo County` data has 0 cases for month of December. The `chartData` props passed to `TimeBarChar` is an array of length 0 and hence `TimeBarChar` fails to load due to NPE.

[2021-01-05 19:27] kbrdsk commented on #750
@MosesSupposes Sorry! I misread you being assigned to this issue as you just having created it.

[2021-01-05 19:33] MosesSupposes commented on #750
@kbrdsk No worries! You beat me to it, so we might as well merge your PR. Great job!

[2021-01-05 19:41] kbrdsk commented on #750
@MosesSupposes Alright, also happy to restructure it around any ideas you have, I noticed you were the assignee because I was looking to request you for a review.

[2021-01-05 20:11] MosesSupposes commented on #750
I'll give it a look when I get off work in a few hours. From the quick skim I gave it earlier, it looks solid.

[2021-01-07 03:44] yetesh commented on #764
fixed by @kbrdsk #791

[2021-01-07 23:42] kbrdsk opened #820 "Add date range selection to county comparison chart"
Add a drop down menu to the county comparison charts like the one that exists for deaths/confirmed cases of individual conties and the bay area as a whole.

![Screenshot from 2021-01-07 15-31-06](https://user-images.githubusercontent.com/52506986/103956935-6d43b080-50fe-11eb-9c74-25044c7c46da.png)
![Screenshot from 2021-01-07 15-31-28](https://user-images.githubusercontent.com/52506986/103957100-d

[2021-01-08 03:44] nikobooth opened #822 "Small fixes for county age charts"
Some oddities and small fixes on the age chart:
1) For some counties there are mystery values. See SF for example, there is a mystery bar between 50-59 and 60-69.
2) Not all bars have labels. Labels should be visible for each bar on this chart.
2a) If we cannot add labels to all bars, the hover tip should be changed to add a bar label (see example below)

![image](https://user-images.githubusercon

[2021-01-08 18:31] nikobooth commented on #822
One more thing! 3. Update Chart name to read "_Confirmed_ Cases by Age: xxxx County"

[2021-01-08 19:24] nikobooth opened #827 "Small fixes for county ethnicity charts"
General Fixes:
Remove "unknown" as a category from cases per 1000 chart.
Cases per 1000 chart should be reordered to show largest bar on the top, smallest on the bottom.
![image](https://user-images.githubusercontent.com/63436818/104055557-d7faf780-51a3-11eb-90eb-6353a2182147.png)

Some unintended characters appear in the top left corner of the chart
![image](https://user-images.githubusercontent.

[2021-01-08 19:41] thuongho commented on #750
closing as it was solved with #809

[2021-01-08 19:41] #750 closed

[2021-01-11 06:12] nikobooth commented on #519
@thomhammond I think the simplest solution for the share widget will be just have them be static on the banner at top. The gains from having them follow the user but collapse if they interfere are marginal so lets go with the easier implementation. For the landing page, we can bottom align them with the three main CTAs

![landing-v2](https://user-images.githubusercontent.com/63436818/104151061-d34

[2021-01-11 20:01] yetesh opened #834 "The San Mateo deaths data v2 is missing"
**Describe the bug**
The deaths data for San Mateo County in data v2 is missing:
https://github.com/sfbrigade/stop-covid19-sfbayarea/blob/master/data/data.v2.json#L16204

**To Reproduce**
Steps to reproduce the behavior:
1. Go to data.v2.json file
2. Search for "san_mateo" and check the "deaths" array
3. The deaths array has no elements

**Expected behavior**
To move from data v1 to data v2, we ne

[2021-01-12 00:21] Mr0grog commented on #834
To add some context here, the scrapers are generally oriented around pulling data from official county sources. San Mateo does not publish a time series of deaths (only the current totals), so we don’t have any data that we *can* show here.

However, the state does provide county-level deaths alongside cases as a timeseries here: https://data.ca.gov/dataset/covid-19-cases/resource/926fd08f-cc91-48

[2021-01-14 03:12] Mr0grog commented on #834
Also just noticed this is in the wrong repo. Moving to https://github.com/sfbrigade/data-covid19-sfbayarea.

[2021-01-14 18:15] #820 closed

[2021-01-14 19:16] yetesh commented on #822
Added #843

[2021-01-15 05:07] thuongho commented on #822
@nikobooth I just merged @yetesh's fix with PR #843 into master. If it looks good to you, feel free to close this issue. Thanks guys!

[2021-01-15 18:06] nikobooth commented on #822
Thanks @yetesh & @thuongho looks good!

[2021-01-15 18:06] #822 closed

[2021-01-19 04:21] yetesh commented on #827
I'm working on this!

[2021-01-20 17:51] thuongho commented on #827
@nikobooth should we change the title to `Confirmed` Cases?

<img width="733" alt="Screen Shot 2021-01-20 at 9 47 02 AM" src="https://user-images.githubusercontent.com/5452152/105214336-ba635180-5b04-11eb-9acd-d5b43ba1b9d4.png">

Seems like we have some negative data. @kengoy should we fix this at the data level or add a conditional check to not display negative data in the charts?

[2021-01-20 17:53] nikobooth commented on #827
@thuongho yes! lets change it to "confirmed cases" thanks!

[2021-01-21 00:42] kengoy commented on #827
Hmm, it should be fixed in the original data scraped from the Santa Clara County site. But I agree to having a conditional check to not display negative data in the charts.

[2021-01-21 04:08] yetesh commented on #827
Added #874

[2021-01-28 02:53] #827 closed

[2021-01-28 02:57] nikobooth commented on #519
@thomhammond one last thing on this issue, can we set a minimum padding between the share widget and the "help us raise awareness" module? Right now they overlap in certain screen widths.

![image](https://user-images.githubusercontent.com/63436818/106083383-46f7ac00-60d1-11eb-845b-133eaf216517.png)

This screen shot was taken with my screen width at ~1300, once this is done I figure we can close

[2021-01-28 03:07] thomhammond commented on #519
Sounds good. I have to run tonight but I will take a look tomorrow!

[2021-01-28 18:28] kengoy opened #905 "Create a document to explain how to update the statistics data and news."
This is a documentation task for the internal team to show how to update the statistics data and news contents which are changing every day.

[2021-01-28 18:31] kengoy commented on #905
For image URL creations,
![Screen Shot 2021-01-28 at 10 15 04 AM](https://user-images.githubusercontent.com/61864097/106182447-aa2a2280-6153-11eb-91b5-03872a4a4043.png)
![Screen Shot 2021-01-28 at 10 15 34 AM](https://user-images.githubusercontent.com/61864097/106182455-ad251300-6153-11eb-93e3-0f7eedbcab24.png)
![Screen Shot 2021-01-28 at 10 16 27 AM](https://user-images.githubusercontent.com/6186

[2021-01-28 18:37] kengoy commented on #905
![Screen Shot 2021-01-28 at 10 33 40 AM](https://user-images.githubusercontent.com/61864097/106183222-d003f700-6154-11eb-90b0-f30d8e41139d.png)
![Screen Shot 2021-01-28 at 10 33 55 AM](https://user-images.githubusercontent.com/61864097/106183229-d2fee780-6154-11eb-80d7-ce0822f3e384.png)
![Screen Shot 2021-01-28 at 10 34 08 AM](https://user-images.githubusercontent.com/61864097/106183238-d5f9d800-6

[2021-01-28 18:52] kengoy commented on #905
![Screen Shot 2021-01-28 at 10 46 08 AM](https://user-images.githubusercontent.com/61864097/106184436-5f5dda00-6156-11eb-855f-927112274c92.png)

[2021-01-28 18:57] kengoy commented on #905
![Screen Shot 2021-01-28 at 10 47 14 AM](https://user-images.githubusercontent.com/61864097/106184841-edd25b80-6156-11eb-95f8-f3cb9ada3e8e.png)

[2021-01-28 22:31] nikobooth opened #907 "Updates to ICU chart"
To make the filtering affordance clearer on the ICU chart, let's follow the button pattern from our comparative charts:

![image](https://user-images.githubusercontent.com/63436818/106206140-714e7580-6174-11eb-91bd-03fe6bf5d5b7.png)

![image](https://user-images.githubusercontent.com/63436818/106206359-c8544a80-6174-11eb-987e-8e68e6504f00.png)

Note also that I've added the current % in the top ri

[2021-01-28 23:03] kbrdsk commented on #907
Awesome! Thanks for doing the mockup!

[2021-01-29 04:53] benghancock commented on #907
This looks great @nikobooth! As far as the info tab, we may want to add/clarify a bit. Perhaps something to this effect?

Maybe that's too long? Basing the description off of the [data dictionary](https://data.ca.gov/dataset/covid-19-hospital-data/resource/42d33765-20fd-44b8-a978-b083b7542225) for this timeseries.

One question: How are we calculating the percentage? We have the metric `icu_availa

[2021-01-29 17:28] kbrdsk commented on #907
I really like what you added to the description here.

I mentioned [data.sfgov.org](https://data.sfgov.org/stories/s/Hospital-Capacity/qtdt-yqr2/) in the PR as well but according to what's there almost 75% of ICU patients are non-COVID ones. I think if we show capacity we need to have it be (available ICU beds)/(total ICU beds).

[2021-01-29 19:00] nikobooth commented on #907
Agree, Ben's text is excellent. +1 for using that!

Also good callout that we do not have an actual % of beds available. Let's leave that top right space blank for now.

[2021-02-04 04:06] kengoy opened #919 "[GitHubAction] data update automation by validating data with json schema"
For now we are updating data everyday by manually reviewing the update data and merging it to master brunch through GitHub action.  [HOW TO UPDATE DATA](https://github.com/sfbrigade/stop-covid19-sfbayarea/blob/master/HOWTO_UPDATE_DATA.md)

To automate the statistic data update, we need to solve the 2 issues.
1. How we can automatically make sure the json format is not changed.
2. How we can automa

[2021-03-03 21:11] #907 closed

[2021-03-03 21:14] #519 closed

[2021-03-03 21:14] #163 closed

[2021-03-03 23:48] nikobooth opened #986 "Convert 14 day average to 7 day average with 7 day delay & revise 9 County Summary"
Currently, our standard is to average per 100k case numbers over a 14 day period. This appears in the first summary segment:
![image](https://user-images.githubusercontent.com/63436818/109877676-28cd2080-7c28-11eb-963f-7d18583a1a7b.png)

... and in our comparative charts:
![image](https://user-images.githubusercontent.com/63436818/109877725-371b3c80-7c28-11eb-9e75-099b1f649a4f.png)

County tier as

[2021-03-04 00:22] nikobooth opened #987 "Enhancements to comparative graph - Cases per 100k"
Note, this Issue is dependent on Issue #986 being completed first.

Requesting a few enhancements to the comparative cases per 100k chart:

1) Adding a "Bay Area Average" line. Theme color for this line can be dark grey/black (2D2D2D). Note that while the San Mateo scraper is still down, we shouldn't include it in the average calculation.

2) Add a "Tier Benchmarks" overlay option which will show

[2021-03-07 00:42] thuongho commented on #986
Fix merged in #994. Closing.

[2021-03-07 00:42] #986 closed

[2021-03-10 18:41] kbrdsk commented on #987
I think I can do this later this week

[2021-03-14 22:22] Mr0grog opened #1024 "Hospital Data Scraper Does Not Log Errors"
It turns out that the hospital scraper has been failing for a while (e.g. https://github.com/sfbrigade/stop-covid19-sfbayarea/runs/2107127471?check_suite_focus=true), but we didn't know because it's not logging failures to Slack like the news and data scrapers are. This needs fixing.

[2021-03-26 03:44] benghancock commented on #1024
Thanks for flagging this @Mr0grog - I'll take a look at how we're logging in the other code and see how that can be integrated into the hospital script.

[2021-03-26 04:07] benghancock opened #1073 "Add a link to the new BAPD Open Database"
I think it would be great if researchers and other interested, data-savvy members of the public could easily explore the COVID-19 data that this project has collected. Toward that goal, I've deployed a website using the Python `Datasette` library that allows users to view and query the data directly in the browser, and am hoping that a link can be added from the main site to what I've dubbed the "

[2021-03-28 18:43] benghancock commented on #1024
The `scraper_hospital_data.py` script does have exception handling that appears the same as the other scripts:

[code]

Does something need to change in the GH action YAML? I see this in the Action for `data.v2.json` but nothing comparable in the hospital data action:

[code]

I'm pretty unfamiliar with GH actions but happy to try my hand at this.  Looks like a bash script inside the YAML, and I c

[2021-03-31 18:25] kbrdsk opened #1088 "Migrate front end to v2 data"
V2 scrapers are up for all counties so we should transition to using that as the data source for the stats page.

[2021-04-01 01:26] nikobooth commented on #1073
Nice @benghancock , I've added designs for two ways for visitors to access this info, one on the about page and another in the banner CTA module on the stats page.

![about](https://user-images.githubusercontent.com/63436818/113230702-70a68e00-924e-11eb-9087-9be6f913b41a.png)

![data-v2](https://user-images.githubusercontent.com/63436818/113230710-743a1500-924e-11eb-9f37-91343409f6ba.png)

Note th

[2021-04-01 02:18] kbrdsk opened #1090 "Fix tooltips on county comparison chart"
**Describe the bug**
Tooltips are displaying incorrect dates in the county comparison chart.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the county comparison chart.
2. Select a county and observe the tooltip for its most recent data.
3. Deselect the county
4. Select a county whose most recent data is for a different day than the first county selected.
5. Reselect the first county

[2021-04-01 22:30] Mr0grog commented on #1024
Yep, you've got it. I should have been clearer in the issue description.

The other key bit is the part on the step that runs the scraper, which lets the job continue even if that step error'd out.

Best way to test is to create a free Slack org and Webhook URL for yourself, alter the scraper to make it fail, and try that out. You can run it on a fork or test locally with [act](https://github.com/

[2021-04-03 23:49] benghancock commented on #1073
This looks so good @nikobooth ! Thanks for your work on this. I've added more of the data that we collect into a new table and republished the Open Database at this URL:

https://bapd-opendb.herokuapp.com

What's the next step to take this live?

[2021-04-04 18:53] nikobooth commented on #1073
Just need to see if anyone on the front end can pick it up, I'll ping in the FE channel

[2021-04-07 22:22] #1090 closed

[2021-04-07 22:22] #1088 closed

[2021-04-15 03:01] Lynguyen237 opened #1132 "Add Google Tag Manager/ Google Analytics to the website and implement cross-domain tracking with the Open Database site"
ISSUE: In order to track pageviews of the new Open Database site to see if people are actually using it and how they navigate, we need to add Google Analytics (GA) (property UA-165448746-1) to the new data site (https://bapd-opendb.herokuapp.com/), which is a different site from https://panda.baybrigades.org/. Cross-domain tracking is needed to not double-count users and sessions when users travel

[2021-04-22 02:31] #1073 closed

[2021-04-22 02:31] #987 closed

[2021-04-22 03:54] nikobooth opened #1151 "Adjust graph behavior for Bay Area total cases & deaths"
To reduce down time for our Bay Area Total Cases and Deaths charts, the totals should not be dependent on having data from all counties. These charts should show cases and deaths for all days for which we have data available. The following info tips will help viewers understand what they are seeing:

For cases:
**What this graph shows:**
This graph shows daily totals of **confirmed** cases across

[2021-04-22 17:36] kbrdsk commented on #1151
On cases chart we highlight the most recent data we have and compare that to the previous day, this doesn't seem appropriate anymore with the change to how we're tracking total numbers. Is there another stat we could put here?

![sketchpad pro_F153DB9A0FE7565EB55](https://user-images.githubusercontent.com/52506986/115760178-e685ad00-a355-11eb-8f40-af0a1f18883f.png)

[2021-04-25 19:57] nikobooth commented on #1151
That's a very good point, with the data coming in at uneven intervals for Bay Total charts, I'm inclined to pivot away from hard numbers for this chart. I wonder if we could display some kind of trend statistic for a longer time period. Something like 'declining slowly/quickly over the past 2 weeks'. Of course we would have to discuss how to define these labels both internally and for site visitor

[2021-04-29 16:07] kbrdsk opened #1166 "Fix css warnings"
**Is your feature request related to a problem? Please describe.**
When running yarn dev there are three warnings that appear multiple times from the postcss-loader module
* Autoplacement does not work without grid-template-rows property
* start value has mixed support, consider using flex-start instead
* IE does not support align-items on grid containers. Try using align-self on child elements in

[2021-05-06 02:13] frhino commented on #1166
@kengoy are you free to take a look at this?

[2021-05-07 06:19] kengoy commented on #1166
Sorry for my late review. I have merged it. Thank you for cleaning up the codes and fixing the warnings. @kbrdsk

[2021-05-07 06:19] #1166 closed